<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <button id="add-player-button">Lisää pelaaja</button>
    <div class="players-grid" id="players-grid">
        <div class="player-box host" id="host-player">
            <p>Pelaaja 1 (Host)</p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
<script src="script/script.js"></script>
<script src="script/aula.js"></script>