<%- include('partials/header') %>
<main>
    <div id="create-game-container" class="create-game">

    </div>
    <div id="join-game-container" class="join-game">
        
    </div>
</main>
<%- include('partials/footer') %>