<link rel="stylesheet" href="style/user.css">
<div id="user-modal" class="modal">
    <div id="user-modal-content">
        <span class="close">&times;</span>
        <h1><%= accountSettings %></h1><br>

        <form id="changeUsernameForm">
            <h3><%= username %></h3>
            <input type="text" id="usernameChangeField" class="textInput">
            <input type="button" value="Vaihda" class="button">
        </form>

        <form id="attachImageForm">
            <!-- todo -->
        </form>

        <div id="viewGameHistory">
            <!-- todo -->
        </div>
    </div>
</div>