    <footer>
        <div id="credits">
            <p id="made_by"><%= made_by %></p>
            <p id="developers"><%= developers %></p>
            <p id="info"><%= info %></p>
        </div>
    </footer>
    <script src="script/script.js"></script> <!-- DO NOT MOVE, breaks the site if moved!!! -->
</body>
</html>