    <footer>
        <div id="credits">
            <p id="made_by"><%= made_by %></p>
            <p id="developers"><%= developers %></p>
            <p id="info"><%= info %></p>
        </div>
    </footer>
</body>
</html>