    <footer>
        <div id="footer-left">
            <button id="admin-settings-button" class="button"><%= admin_settings %></button>
        </div>
        <div id="credits">
            <p id="made_by"><%= made_by %></p>
            <p id="developers"><%= developers %></p>
            <p id="info"><%= info %></p>
        </div>
        <div id="footer-right">
            <!-- nothing to see here :) -->
        </div>
    </footer>
    <script src="script/script.js"></script> <!-- DO NOT MOVE, breaks the site if moved!!! -->
</body>
</html>