<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %> - Quizconst</title>
    <link rel="stylesheet" href="style/main.css">
    <script src="script/script.js"></script>
</head>
<body>
    <header>
        <form method="get" id="language-form">
            <select name="language" id="language-selection" onchange="this.form.submit()">
                <option value="fi" <%= language === 'fi' ? 'selected' : '' %>>FI</option>
                <option value="en" <%= language === 'en' ? 'selected' : '' %>>EN</option>
            </select>
        </form>
        <h1 id="main-title">Quizconst</h1>
        <nav id="header-nav">
            <button id="log-in"></button>
            <button id="create-subject"></button>
            <button id="find-subject"></button>
        </nav>
    </header>