main {
    display: block !important;
}

header {
    height: 10vh !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 100% !important;
}

#open-question-modal, #game-settings-button, #game-info-button {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-settings-button, #game-info-button {
    width: 5%;
}

#game-info-button {
    margin-bottom: 10px;
}

#game-creation {
    width: 100%;
}

#game-settings-container {
    display: flex;
    justify-content: flex-end;
}

#game-info-container {
    display: flex;
    justify-content: flex-end;
}

#question-container {
    position: relative;
    top: 55px;
    z-index: 1;
    width: 10%;
}

#selected-question-name {
    text-align: center;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}

.question-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.image-upload {
    text-decoration: underline;
    cursor: pointer;
}

.custom-file-upload {
    margin-left: 38%;
    margin-right: 38%;
}

#custom-file-upload {
    margin-left: 35% !important;
    margin-right: 35% !important;
}

.image-name-container {
    padding: 10px;
    padding-right: 30px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.image-name-container .close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.image-name-container .close:hover,
.image-name-container .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal, .flexing-modal {
    display: none; 
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgba(21, 21, 21, 0.9);
}

.image-modal-content {
    width: 100%;
    background-color: #fefefe;
    z-index: 2;
}

.modal-content {
    position: fixed;
    top: 10%;
    left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
    z-index: 2;
}

.flexing-modal-content {
    position: fixed;
    top: 10%;
    left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
    z-index: 2;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.uploaded-image {
    display: none;
    max-width: 100%;
    height: auto;
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

.question-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

.edit-question-input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    background-color: white;
    color: black;
    display: block;
}

.game-name {
    margin-top: 40px;
}

.title {
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

#question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}

#question-answers.two-answers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#question-answers.three-answers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

#question-answers.three-answers .answer-container:nth-child(3) {
    grid-column: span 2;
}

#question-answers.four-answers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#settings-button {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.answer-container {
    text-align: center;
    padding: 15px 0px 15px 0px;
    border: black 3px solid;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    width: 100%;
}

.answer {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

.edit-input {
    line-height: 3em;
}

.edit-answer-input {
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: calc(100% - 40px);
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    background-color: white;
    color: black;
    display: block;
}

.char-counter {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #555;
    padding: 5px 10px;
}

.wrong {
    background-color: #ff0000;
}

.right {
    background-color: #00ff00;
}

#image-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

#fullscreen-image {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#game-settings-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#game-name-input,
#game-description-input,
#file-upload {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

#game-description-input {
    height: 100px;
    resize: none;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.absolute {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    font-size: 12px;
    pointer-events: none;
}

#char-count-name,
#char-count-description,
#char-count-name-settings,
#char-count-description-settings {
    color: #555;
    position: absolute;
    top: 20px;
    right: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}

#save-game-settings {
    margin-top: 20px;
    padding: 10px 20px;
}

#settings-modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.setting-item {
    margin: 10px 0;
    width: 80%;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#game-name-input-settings,
#game-description-input-settings,
#file-upload {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

#game-description-input-settings {
    height: 100px;
    resize: none;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.delete-button {
    cursor: pointer;
    margin-left: 10px;
    float: right;
}

#question-list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

#save-game-button {
    float: right;
    padding: 0 20px;
    min-height: 20px;
    right: auto;
    width: 30%;
}

.question-not-selected {
    display: none;
    text-align: center;
    font-size: 2em;
    color: #555;
    margin-top: 20%;
}

@media (max-width: 1024px) {
    #header-nav {
         height: 5vh !important;
    }

    .nav-button {
        height: 100% !important;
        z-index: 1;
    }
}

@media (min-width: 1024px) {
    html, body {
        height: 100%;
        margin: 0;
        width: 100%;
    }

    #open-question-modal {
        display: none;
    }

    #game-creation {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .flexing-modal {
        display: block;
        position: relative; 
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;
    }

    .question-container {
        overflow: auto;
        min-width: 19%;
        max-width: 60%;
        top: 0 !important;
    }

    .flexing-modal-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        border: none;
        width: 100%;
        height: 100%;
        background-color: #fefefe;
        z-index: 1;
        box-sizing: border-box;
    }

    .resizer {
        width: 5px;
        background: #000;
        cursor: ew-resize;
        z-index: 1;
    }

    .resizable-right {
        flex-grow: 1;
        overflow: hidden;
        width: 60%;
        height: 120%;
    }

    .game-name {
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }

    .question-container, .ressizable-right {
        flex-grow: 1;
    }

    #close-question-modal {
        display: none;
    }
    
    #question-modal {
        display: block;
    }

    #save-game-button {
        display: block !important;
    }
    
    #question-list {
        max-height: calc(100vh - 425px);
        overflow-y: auto;
    }
}