#game-creation {
    width: 100%;
    height: 100%;
}
    
#question-container {
    position: relative;
    top: 55px;
    z-index: 1;
    width: 10%;
}

#selected-question-name {
    text-align: center;
    margin: 0;
}

#custom-file-upload {
    cursor: pointer;
}

#question-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

#image-upload {
    text-decoration: underline;
}

#image-name-container {
    padding: 10px;
    padding-right: 30px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

#image-name-container .close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#image-name-container .close:hover,
#image-name-container .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgba(21, 21, 21, 0.9);
}

.image-modal-content {
    width: 100%;
    background-color: #fefefe;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
    position: relative;
}

#closeQuestionModal {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#closeQuestionModal:hover,
#closeQuestionModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#fullscreen-image {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#closeImageModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#closeImageModal:hover,
#closeImageModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.question-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#aiheen-nimi {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    margin-top: -20px; /* Add negative margin to remove space between header and #aiheen-nimi */
}

#question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.answer-container {
    text-align: center;
}

#triangle {
    height: 50px;
    border: red solid 3px;
}

#rhombus {
    height: 50px;
    border: blue solid 3px;
}

#circle {
    height: 50px;
    border: yellow solid 3px;
}

#square {
    height: 50px;
    border: green solid 3px;
}

#asetukset {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.question-item, .answer-container {
    text-align: center;
}

.edit-input {
    line-height: 3em;
}
