#game-creation {
	width: 100%;
	height: 100%;
}
	
#question-container {
	float: left;
	width: 100px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.edit-question-input {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.question-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
	cursor: pointer;
}