#language-form {
    display: none;
}

#main-game-container {
    display: none;
}

#loading-container {
    display: none;
    text-align: center;
}

#question-container {
    text-align: center;
    display: none;
}

#results-container {
    width: 80%;
    height: 100%;
    display: none;
}

#credits {
    display: none;
}

#question-count-container {
    display: block;
}

#header-nav {
    display: none;
}

#nav-dropdown {
    display: none;
}

#question-time {
    grid-column: 6;
    margin: auto;
}

#continue-button, #leave-button {
    display: none;
}

.answers {
    border: #4E4C67 2px solid;
    grid-column: span 2;
    height: auto;
    padding: 5%;
}

#answers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10%;
    column-gap: 1%;
    justify-content: center;
    align-items: center;
}

#game-question-container {
    text-align: center;
    margin-bottom: 2%;
}

#question-img {
    width: 80vw;
    height: 30vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#podium-container {
    height: 50%;
    display: flex;
    border-bottom: 2px white solid;
}

.podium-player {
    text-align: center;
    background-color: white;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#podium-2 {
    margin-top: 25px;
}

#podium-3 {
    margin-top: 50px;
}

#leaderboard-container {
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-anchor: auto;
}

.leaderboard-player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 7px;
    width: 100%;
}

.points {
    text-align: right;
}

.player {
    text-align: center;
}

#leaderboard-buttons-container {
    text-align: center;
    display: none;
}

/* Loader animation from https://loading.io/css/ */
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}



body {
    background: linear-gradient(45deg, #DCD6F7, #B4869F, #985F6F);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}