#credits {
    display: block;
    grid-column-start: 2;
    text-align: center;
}

#leaderboard-buttons-container {
    display: none;
}

#home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

#join-button, #create-button {
    padding: 3.5px 0 3.5px 0;
    margin-top: 4px;
}

#lobby-code {
    background-color: white;
    padding: 5px;
    margin-top: 4px;
    max-width: 130px;
    text-align: center;
}

#create-game-container {
    grid-column-start: 1;
    text-align: center;
    border-right: 1.5px solid #4E4C67;
}

#join-game-container {
    grid-column-start: 2;
    text-align: center;
    border-left: 1.5px solid #4E4C67;
}