#credits {
    display: block;
    grid-column-start: 2;
    text-align: center;
}

#leaderboard-buttons-container {
    display: none;
}

#home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

#create-game-container {
    grid-column-start: 1;
    text-align: center;
    border-right: 1.5px solid #4E4C67;
}

#join-game-container {
    grid-column-start: 2;
    text-align: center;
    border-left: 1.5px solid #4E4C67;
}

body {
    background: linear-gradient(45deg, #a6d0c9, #4e958a);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}