/* Sign up/ Log in modal */


#log-modal-content {
    background-color: #fefefe;
    margin: auto; /* Center the modal */
    padding: 20px;
    border: 4px solid #164F4D;
    width: 25%;
    max-height: calc(110vh - 210px); /* Prevent overflow */
    overflow-y: auto;
}

#log-in-content p{
    margin-bottom: 7px;
}

#log-in-content h2{
    margin-bottom: 10px;
}

#log-in-content input {
    background-color: white;
    max-width: 21vh;
    margin-bottom: 7px;
    border: solid 2px black;
}

#log-in-content {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#sign-up-content p{
    margin-bottom: 7px;
}

#sign-up-content h2{
    margin-bottom: 10px;
}

#sign-up-content input {
    background-color: white;
    max-width: 21vh;
    margin-bottom: 7px;
    border: solid 2px black;
    
}

#sign-up-content {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.close{
    float: right;
    font-size: 3rem;
}

/* Flexbox layout for forms */
#log-in-content, #sign-up-content {
    display: flex;
    flex-direction: column;
}


#log-in-button, #sign-up-button {
    max-width: 20vw;
    height: 3vh;
    margin-top: 10px;
    align-self: flex-start;
    background-color: #d1e7e3 !important;
    padding: 7px 0 15px 0;
}

/* Responsive design adjustments */
@media only screen and (max-width: 900px) {
    #log-modal-content {
        width: 48vw; /* Adjust modal size for smaller screens */
        height: 100vh;
    }

    
}

@media only screen and (max-width: 590px) {
    #log-modal-content {
        width: 68vw; /* Further adjust for very small screens */
        height: 100vh;
    }
}