@import url("https://use.typekit.net/kuq8csk.css");


body {
    font-family: "laca-variable", sans-serif;
    margin: 0;
    padding: 0;
    color: #4E4C67;
}

header {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 60%;
}

footer {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    align-items: center;
}

main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    grid-row: 2;
    grid-column: 1 / span 6;
}

.nav-button, #nav-dropdown {
    height: 50%;    
    margin-left: 1%;
    margin-right: 1%;
}

/*VÄLIAIKAINEN*/
#find-subject {
    display: none;
}

.nav-button, .button {
    font-family: "laca-variable", sans-serif;
    font-weight: 800;
    background-color: #A6B1E1;
    color: #4E4C67;
    width: 50%;
}

#language-form {
    grid-column: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 86%;
}

#language-selection {
    background-color: #A6B1E1;
    font-family: "laca-variable", sans-serif;
    font-weight: 800;
    text-align: center;
    color: #4E4C67;
    width: 86%;
    height: 60%;
}

#main-title {
    grid-column: 3 / span 2;
    text-align: center;
}

#credits {
    grid-column-start: 2;
    text-align: center;
}

#home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

#create-game-container {
    grid-column-start: 1;
    text-align: center;
    border-right: 1.5px solid #4E4C67;
}

#join-game-container {
    grid-column-start: 2;
    text-align: center;
    border-left: 1.5px solid #4E4C67;
}

#header-nav {
    text-align: right;
}

/* Sign up/ Log in modal */
#log-modal {
    display: none;
    background-color: gray;
    position: fixed;
    width: 28vw;
    height: 70vh;
    z-index: 1;
}

#log-in-content p{
    margin-bottom: 7px;
}

#log-in-content h2{
    margin-bottom: 10px;
}

#log-in-content input {
    background-color: white;
    max-width: 21vh;
    margin-bottom: 7px;
}

#log-in-content {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#sign-up-content p{
    margin-bottom: 7px;
}

#sign-up-content h2{
    margin-bottom: 10px;
}

#sign-up-content input {
    background-color: white;
    max-width: 21vh;
    margin-bottom: 7px;
}

#sign-up-content {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.close{
    float: right;
    font-size: 3rem;
}

#log-in-button {
    max-width: 20vw;
    height: 3vh;
    margin-top: 10px;
}

#sign-up-button {
    max-width: 20vw;
    height: 3vh;
    margin-top: 10px;
}

@media only screen and (max-width: 900px) {
    #log-modal {
        width: 48vw;
        height: 70vh;
    }
}

@media only screen and (max-width: 590px) {
    #log-modal {
        width: 90%;
        height: 70vh;
    }
}
  
#nav-dropdown {
    grid-column: 6;
    grid-row: 1;
    width: 86%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#developers {
	margin-top: 10px;
	margin-bottom: 10px;
}