@import url("https://use.typekit.net/kuq8csk.css");

body {
    font-family: "laca-variable", sans-serif;
    margin: 0;
    padding: 0;
    color: #4E4C67;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    
}


header, footer {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    align-items: center;
}

main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: "laca-variable", sans-serif;
    font-weight: 800;
    background-color: #A6B1E1;
    color: #4E4C67;
}

#main-title {
    grid-column-start: 2;
    text-align: center;
}

#credits {
    grid-column-start: 2;
    text-align: center;
}

#home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

#create-game-container {
    grid-column-start: 1;
    text-align: center;
    border-right: 1.5px solid #4E4C67;
}

#join-game-container {
    grid-column-start: 2;
    text-align: center;
    border-left: 1.5px solid #4E4C67;
}

#header-nav {
    grid-column-start: 3;
    text-align: right;
}

/* New styles for the players grid */
.players-grid {
    display: grid   ;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.player-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;     
    background-color: #f9f9f9;
    width: 120px;
    text-align: center;
    margin: 5px;
}

@media (max-width: 1200px) {
    .players-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
    }
}

@media (max-width: 900px) {
    .players-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
    }
}

@media (max-width: 600px) {
    .players-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }

    .player-box {
        width: 10   0px; /* Adjust width for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    main {
        height: auto; /* Adjust height for smaller screens */
    }

    h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    button {
        margin-bottom: 10px; /* Add some space below the button */
    }
}

@media (max-width: 400px) {
    .players-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columns on very small screens */
        grid-gap: 10px;
        justify-content: start; /* Align grid to the start */
    }

    .player-box {
        width: 130px; /* Adjust width for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
        margin: 5px; /* Add margin to separate the boxes */
    }

    .players-grid .player-box:nth-child(odd) {
        grid-column: 1; /* First column */
    }

    .players-grid .player-box:nth-child(even) {
        grid-column: 2; /* Second column */
    }
}

#credits {
    display: none;
}   