@import url("https://use.typekit.net/kuq8csk.css");

body {
    font-family: "laca-variable", sans-serif;
    margin: 0;
    padding: 0;
    color: #164F4D;
    height: 100%;
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}



header {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 31% 69%;
}

footer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: fixed;
    bottom: 0;
    width: 100vw;
    align-items: center;
}

main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    grid-row: 2;
    grid-column: 6 / span 2;
}

input[type="number"], select {
    border: #164F46 2px solid;
}

#main-title {
    cursor: pointer;
}

.nav-button {
    height: 50%;    
}

.nav-button, .button {
    font-family: "laca-variable", sans-serif;
    font-weight: 800;
    background-color: #d1e7e3;
    color: #164F46;
    border: 2px #164F46 solid;
    box-shadow: 1px 1px 2px #113D3B;
    border-radius: 2px;
    cursor: pointer;
}

.button {
    width: 50%;
}

.textInput {
    border: #164F46 2px solid;
}

#language-form {
    grid-column: 1;
    margin: auto;
    height: 60%;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#language-selection {
    background-color: #bcdbd6;
    font-family: "laca-variable", sans-serif;
    font-weight: 800;
    text-align: center;
    color: #164F46;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #113D3B;
}

#main-title {
    grid-column: 3 / span 2;
    text-align: center;
    margin: auto;
}

#header-nav {
    text-align: right;
}

.players-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 120px; /* Add left margin */
    margin-right: 120px; /* Add right margin */
}

.player-box {
    border: 1px solid #ccc;
    padding: 18px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 145px;
    text-align: center;
    margin: 5px;
    flex: 1 0 18%; /* Ensure 5 players per row */
    max-width: 150px; /* Ensure max width */
}

@media (max-width: 1200px) {
    .players-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
    }
}

@media (max-width: 900px) {
    .players-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
    }
}

@media (max-width: 600px) {
    .players-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }

    .player-box {
        width: 100px; /* Adjust width for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    h1 {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    button {
        margin-bottom: 10px; /* Add some space below the button */
    }
}

@media (max-width: 425px) {
    .players-grid {
        display: flex; /* Use flexbox on very small screens */
        flex-wrap: wrap;
        justify-content: center; /* Center the grid on very small screens */
    }

    .player-box {
        width: 70px; /* Adjust width for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
        margin: 5px; /* Add margin to separate the boxes */
        flex: 1 0 45%; /* Flexbox properties to handle wrapping */
    }

    #admin-settings-button {
        position: relative;
        margin-top: 20px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (max-width: 375px) {
    .players-grid {
        display: flex; /* Use flexbox on very small screens */
        flex-wrap: wrap;
        justify-content: center; /* Center the grid on very small screens */
        overflow: auto;
    }

    .player-box {
        width: 70px; /* Adjust width for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
        margin: 5px; /* Add margin to separate the boxes */
        flex: 1 0 45%; /* Flexbox properties to handle wrapping */
    }

    #admin-settings-button {
        position: relative;
        margin-top: 20px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    main {
        padding-bottom: 60px; /* Add extra space at the bottom for the admin settings button */
    }
}


@media (max-width: 320px) {
    .players-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on very small screens */
        justify-content: center; /* Center the grid on very small screens */
    }

    .player-box {
        width: 130px; /* Adjust width for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
        margin: 5px; /* Add margin to separate the boxes */
    }

    .players-grid .player-box:nth-child(n+6) {
        grid-column: span 2; /* Span 2 columns for the second row */
    }

    #admin-settings-button {
        position: relative;
        margin-top: 20px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    main {
        padding-bottom: 60px; /* Add extra space at the bottom for the admin settings button */
    }
}


#credits {
    display: none;
}   
 
#nav-dropdown {
    grid-column: 6;
    grid-row: 1;
    width: 86%;
    height: 60%;
    margin: auto;
}

#admin-settings-button {
    width: 90%;
    margin: 5%;
}

#find-subject, #create-subject {
    display: none;
}

#question-time {
    display: none;
}

/* tablet size */
@media screen and (min-width: 660px) {
    #admin-settings-button {
        padding: 10%;
    }
}

/* everything else */
@media screen and (min-width: 1024px) {
    #nav-dropdown {
        display: none;
    }

    .nav-button {
        display: block !important;
        margin: 1%;
        height: 60%;
        width: 86%;
    }

    nav {
        grid-row: 1;
        grid-column: 5 / span 2;
        justify-content: center;
        align-items: center;
    }

    #find-subject, #create-subject {
        display: none;
    }
}

#developers {
	margin-top: 10px;
	margin-bottom: 10px;
}

#question-count {
    display: none;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .loggedout {
        width: 100%;
    }
    
    .loggedin {
        width: 100%;
    }

    nav {
        display: block;
        grid-column: 6 / span 2;
        padding: 10px;
    }
}

body {
    background: linear-gradient(45deg, #a6d0c9, #4e958a);
    background-size: 300% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}